@use "../../styles/mixins" as *;

.column {
  display: flex;
  flex-direction: column;
  height: 85vh;

  &__heading {
    @include heading((m), var(--text-secondary));
    display: flex;
    align-items: center;
    gap: 1rem;

    &-color {
      width: 12px;
      height: 12px;
      background-color: #49c4e5;
      content: "";
      margin-left: 2rem;
      border-radius: 50%;
    }
  }

  ul {
    overflow-y: auto;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    height: 100%;
    align-items: center;
    padding: 1rem 0;

    // Scrollbar scoped to THIS element
    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--text-muted);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--text-secondary);
    }

    li {
      cursor: pointer;
      background-color: var(--bg-surface);
      padding: 1.5rem;
      border-radius: 8px;
      @include heading((m), var(--text-heading));
      box-shadow: 1px 8px 8px #303f5f18;
      width: 17.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      transition: 0.3s ease;
      .subtasks {
        @include heading((body-m), var(--text-secondary));
      }
    }

    li:hover {
      box-shadow: 1px 8px 8px #5f6a8169;
      transform: scale(1.05);
    }
  }
}
