@use "./variables" as vars;

/* Mixin Styling */

@mixin for-desktop-up {
  @media (max-width: vars.$bp-desktop) {
    @content;
  }
}

@mixin for-tablet-up {
  @media (max-width: vars.$bp-tablet) {
    @content;
  }
}

@mixin for-mobile-up {
  @media (max-width: vars.$bp-mobile) {
    @content;
  }
}

/*Typography*/

@mixin heading($size, $color: var(--primary-white)) {
  color: $color;
  font-weight: var(--primary-weight-bold);
  font-size: var(--primary-size-#{$size});
  line-height: var(--primary-lheight-#{$size});
  font-family: var(--primary-font);
}

/*Buttons*/

@mixin btn-styling($color, $bgColor, $hColor) {
  @include heading((m));
  padding: 0.8rem 1.5rem;
  border-radius: 50rem;
  border: none;
  font-family: var(--primary-font);
  color: $color;
  background-color: $bgColor;
  cursor: pointer;
  min-height: 2.5rem;
  transition: 0.3s ease;

  &:hover {
    background-color: $hColor;
  }
}

@mixin add_coloumn-btn($color, $bgColor) {
  @include heading((m));
  padding: 0.8rem 1.5rem;
  border-radius: 50rem;
  border: none;
  font-family: var(--primary-font);
  background-color: var(--primary-blue-dim);
  cursor: pointer;
  height: 2.5rem;
  color: var(--primary-blue);
}

@mixin input-styling {
  font-family: var(--primary-font);
  padding: 1rem;
  resize: none;
  border-radius: 6px;
  border: 1px solid var(--grey-slate-dim);
  font-weight: var(--primary-weight-medium);

  &::placeholder {
    @include heading((body-l), var(--grey-slate-dim));
    font-weight: var(--primary-weight-medium);
  }
}
