@use "./mixins.scss" as *;

/* GLOBAL RESETS AND STYLING */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  line-height: var(--text-line-height);
  // background-color: var(--primary-black);
  background-color: var(--grey-cloud);
}
