@use "../../styles/mixins" as *;

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;

  &__text {
    @include heading((l), var(--text-secondary));
  }

  &__btn {
    @include btn-styling(
      var(--bg-surface),
      var(--action-primary),
      var(--bg-surface)
    );
  }
}
