@use "../../styles/mixins" as *;

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;

  &__text {
    @include heading((l), var(--grey-slate));
  }

  &__btn {
    @include btn-styling(
      var(--primary-white),
      var(--primary-blue),
      var(--primary-white)
    );
  }
}
