.app-layout {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 6.0625rem 1fr;
  height: 100vh;
  transition: 0.5s ease;

  &-hidden {
    grid-template-columns: 0 1fr;
  }
}

.content {
  width: 100%;
  height: 100%;
  overflow-x: auto; 
  overflow-y: hidden;
}

