@use "../styles/mixins" as *;

.column__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20rem;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 6.0625rem);
  padding: 1.5rem 1rem;
  gap: 1rem;

  .column__add-btn {
    width: 17.5rem;
    background-color: var(--button-blue);
    border: none;
    @include heading((xl), var(--grey-slate));
    border-radius: 8px;
    cursor: pointer;
  }
}

.column {
  display: flex;
  flex-direction: column;
  height: 85vh;

  &__heading {
    @include heading((m), var(--grey-slate));
    display: flex;
    align-items: center;
    gap: 1rem;

    &-color {
      width: 12px;
      height: 12px;
      background-color: #49c4e5;
      content: "";
      margin-left: 2rem;
      border-radius: 50%;
    }
  }

  ul {
    overflow-y: auto;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    height: 100%;
    align-items: center;
    padding: 1rem 0;

    // Scrollbar scoped to THIS element
    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(41, 40, 40, 0.15);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--grey-slate);
    }

    li {
      background-color: var(--primary-white);
      padding: 1.5rem;
      border-radius: 8px;
      @include heading((m), var(--primary-black));
      box-shadow: 1px 8px 8px #364e7e18;
      width: 17.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .subtasks {
        @include heading((body-m), var(--grey-slate));
      }
    }
  }
}
