@use "../styles/mixins" as *;

.column__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20rem;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 6.0625rem);
  padding: 1.5rem 1rem;
  gap: 1rem;

  .column__add-btn {
    width: 17.5rem;
    background-color: var(--button-blue);
    border: none;
    @include heading((xl), var(--grey-slate));
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      letter-spacing: 0.3rem;
      color: var(--primary-white);
      background-color: var(--grey-slate-dim);
    }
  }
}
