@use "../../styles/mixins" as *;

.nav__toggle {
  padding: 0rem 2rem;
  &-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    width: fit-content;
  }

  &-text {
    @include heading((m), var(--text-secondary));
    &:hover {
      color: var(--action-primary);
    }
  }
}

.nav-toggle-show {
  background-color: var(--action-primary);
  border: none;
  padding: 1.2rem;
  position: absolute;
  border-top-right-radius: 20rem;
  border-bottom-right-radius: 20rem;
  bottom: 3%;
  transition: 0.4s ease-out;
  cursor: pointer;
  width: 4rem;

  &:hover {
    width: 6rem;
  }

  &-hide {
    transform: translate(-100%);
  }
}
