@use "../../styles/mixins" as *;

.header {
  width: 100%;
  display: flex;
  //   justify-content: space-between;
  align-items: center;
  //   padding: 0 2rem;
  background-color: var(--bg-surface);
  grid-column: span 2;

  .logo__container {
    width: 18rem;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1.5px solid var(--bg-surface-alt);
    padding: 0 2rem;
    border-bottom: 1.5px solid var(--bg-surface-alt);
  }
  .content__container {
    display: flex;
    padding: 0 2rem;
    height: 100%;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1.5px solid var(--bg-surface-alt);

    .content__heading {
      @include heading((xl), var(--text-heading));
    }

    .content__add-btn {
      @include btn-styling(
        var(--bg-surface),
        var(--action-primary),
        var(--action-primary-muted)
      );
      margin-left: auto;
    }
  }
}
