@use "../../styles/mixins" as *;

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--primary-black-dim);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &__wrapper {
    background-color: var(--primary-white);
    border-radius: 6px;
    padding: 2.5em 2rem;
    position: relative;

    .close-btn {
      position: absolute;
      top: 0rem;
      right: 0rem;
      border: none;
      cursor: pointer;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      width: 2rem;
      height: 2rem;
      background-color: var(--primary-blue);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      svg {
        color: white;
      }
      transition: 0.3s ease;

      &:hover {
        background-color: var(--primary-purple);
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  .overlay__header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .overlay__options {
      width: 10%;
      background: transparent;
      border: none;
    }
  }

  &__container {
    height: fit-content;
    min-width: 450px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .overlay__input {
      height: 2.5rem;
    }

    .overlay__textarea {
      min-height: 8rem;
    }

    .overlay__label {
      @include heading((body-m), var(--grey-slate));
    }

    textarea {
      min-height: 3rem;
    }

    input,
    textarea {
      @include input-styling;
    }

    .subTasks {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .subTask {
        display: flex;
        height: 2.5rem;
        .subTask__input {
          width: 90%;
        }
        .subTask__button {
          width: 10%;
          background: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
    .overlay__button {
      @include btn-styling(var(--primary-white), var(--primary-blue));
    }
    .overlay__button-column {
      @include btn-styling(var(--primary-blue), var(--primary-blue-dim));
    }

    .overlay__delete-header {
      @include heading((l), var(--primary-red));
      font-weight: var(--primary-weight-bold);
    }

    .overlay__delete-text {
      @include heading((body-l), var(--grey-slate));
      font-weight: var(--primary-weight-medium);
      margin: 0.4rem 0;
      line-height: var(--primary-lheight-body-l);
    }

    .overlay__delete-btns {
      display: flex;
      gap: 1rem;
      .overlay__button-delete {
        @include btn-styling(var(--primary-white), var(--primary-red));
        width: 50%;
        height: 2.5rem;
      }
      .overlay__button-cancel {
        @include btn-styling(var(--primary-blue), var(--primary-blue-dim));
        width: 50%;
        height: 2.5rem;
      }
    }
  }
}
