.themeToggler {
  margin-top: auto;
  padding: 0rem 2rem;
  &__container {
    background-color: var(--grey-cloud);
    height: 3rem;
    border-radius: 6px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.toggle-placeholder {
  width: 50px;
  height: 22px;
  border-radius: 9999px; 
  background-color: var(--primary-blue);
  position: relative;
}

.toggle-placeholder::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
