@use "../../styles/mixins" as *;

.list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.3s ease;
  &-hide {
    transform: translate(-20rem);
  }

  &__item {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    @include heading((m), var(--grey-slate));
    width: 95%;
    position: relative;

    &::after {
      content: "";
      background-color: var(--primary-blue);
      border-top-right-radius: 10rem;
      border-bottom-right-radius: 10rem;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      transition: 0.4s ease;
      z-index: -1;
    }
  }
  .active {
    @include heading((m), var(--primary-white));
    z-index: 1;
  }

  .active::after {
    width: 100%;
  }

  .list__create {
    @include heading((m), var(--primary-blue));
  }
}
