@use "../../styles/mixins" as *;

.list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.3s ease;
  &-hide {
    transform: translate(-20rem);
  }

  &__item {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    @include heading((m), var(--text-secondary));
    width: 95%;
    position: relative;
    transition: 0.3s ease;

    &:hover {
      letter-spacing: 0.07rem;
      color: var(--action-primary);
    }

    &::after {
      content: "";
      background-color: var(--action-primary);
      border-top-right-radius: 10rem;
      border-bottom-right-radius: 10rem;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      transition: 0.4s ease;
      z-index: -1;
    }
  }
  .active {
    @include heading((m), var(--bg-surface));
    z-index: 1;

    &:hover {
      letter-spacing: 0rem;
    }
  }

  .active::after {
    width: 100%;
  }

  .list__create {
    @include heading((m), var(--action-primary));

    &:hover {
      letter-spacing: 0.07rem;
      color: var(--action-primary-hover);
    }
  }
}
