@use "../../styles/mixins" as *;

.list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__item {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    @include heading((m), var(--grey-slate));
    width: 95%;
  }
  .active {
    @include heading((m), var(--primary-white));
    background-color: var(--primary-blue);
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }
  .list__create {
    @include heading((m), var(--primary-blue));
  }
}
